<div class="sidebar-favorites">
    <p style="margin-top: 1rem">Favorites</p>
    <form class="form-inline">
        <input class="form-control sidebar-input" type="search" placeholder="Quick search" aria-label="Search">
    </form>
    <ul style="color: gray">
        <li>placeholder/post</li>
        <li>placeholder/post</li>
        <li>placeholder/post</li>
        <li>placeholder/post</li>
        <li>placeholder/post</li>
        <li>placeholder/post</li>
    </ul>
</div>
<div class="horizontal-content-rule">&nbsp;</div>
<div class='sidebar-recents'>
    <p>Recent Activity</p>
    <p style="color: gray">When you take actions across Gitbug, we’ll provide links to that activity here.</p>
</div>
<div class="horizontal-content-rule">&nbsp;</div>
<div class='sidebar-teams'>
    <p>Your teams</p>
    <form class="form-inline">
        <input class="form-control sidebar-input" type="search" placeholder="Find a team.." aria-label="Search">
    </form>
    <ul style="color: gray">
        <li>avionschool/team</li>
        <li>placeholder/org</li>
        <li>placeholder/org</li>
        <li>placeholder/org</li>
        <li>placeholder/org</li>
        <li>placeholder/org</li>
    </ul>
</div>