<div class="show-profile">
    <div class="profile-details">
        <%=render 'sidebar'%>
    </div>
    <div class="article-details">
        <h1 class="text-center mt-4">Edit article </h1>
        <%=render 'form' %>
    </div>
</div>
