<div class="show-profile">
    <div class="profile-details">
        <%=render 'sidebar'%>
    </div>
    <div class="article-details">
            <h3 class="text-center mt-4">Create post </h3>
            <%= render 'form' %>
    </div>
</div>
