<div id="home-container">
  <div class="jumbotron text-left">
      <div class="jumbotron-container">
      <h2> WHERE THE WORLD BLOGS</h2>
      <hr class="my-4">
      <p>Millions of bloggers and companies build, ship, and maintain their blogs <br/>
          on Gitbug—the largest and most advanced blogging platform in the world.</p>
      <div class="signup-container">
        <input class="form-control mr-sm-4 form-home" type="search" placeholder="Enter email address" aria-label="Enter email address">
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-sm" %>
      </div>
    </div>
  </div>
  <div class="rotating-logo">
    <span></span>
  </div>
</div>