<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Chester Garett", "https://github.com/chestergarett", class:"text-white"%></small>
  </div>
</footer>